<!-- <p>nombre | percent => {{nombre | percent }}</p>
<p>nombre | currency  => {{nombre | currency:"EUR"  }}</p>
<p>str | titlecase => {{str | titlecase}}</p>
<p>obj | json => {{obj | json}}</p>
<p>{{"hello" | traduction}}</p> -->
<app-header></app-header>
<!-- <div [ngClass]="{red: redBlue, blue: !redBlue}">ngClass</div>
<div [ngStyle]="monStyle">ngStyle</div>
<div [ngSwitch]="redBlue" appRedBlue color=blue>
  <div *ngSwitchCase="true">red</div>
  <div *ngSwitchDefault>blue</div>
</div> -->
<router-outlet></router-outlet>